extends layout

block content
      // Banner
      section#banner.major
        .inner
          header.major
            h1 Hi, This is official website for Saarthi
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          .content
            p
              | non-profit, voluntary citizens&apos; group which is organized on a local, national or international level 
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; but then goes on to restrict the meaning in the sense used by most English speakers and the media
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.actions
              li
                a.button.next.scrolly(href='#one') Get Started
      // Main
      #main
        // One
        section#one.tiles
          - var i=page*6 -1
          - var count = 0
          - while(data[i+1]!=null && count < 6){
           -count++
           - if(data[i+1]==null){}
           -else{
            article
              span.image
                img(src=data[++i].img, alt='')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              header.major
                h3
                  a.link(href='article/#{data[i].id}') #{data[i].title}
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p #{data[i].desc}
          -}
            
          -}

          br
          br
        br
        footer
          .pagination
            <a href='#{page-1}' class="previous">Prev</a>
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;            
            a.next(href='#{page+1}') Next
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      
        // Two
        section#two

          .inner
            header.major
             
              h2 About Saarthi
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | non-profit, voluntary citizens&apos; group which is organized on a local, national or international level 
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; but then goes on to restrict the meaning in the sense used by most English speakers and the media
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.actions
              li
                a.button.next(href='/0') Get Started