extends layout

block content

	section#one
		.inner   
			h4 Certificate is issused to the candidate with below given details.
			h4 Name: #{data[0].name}
			h4 DOB: #{data[0].dob}
			h4 EmailId: #{data[0].emailId}
			h4 Date : #{data[0].date}
			h4 Purpose : #{data[0].purpose}